.header-nav {
    margin-left: -13px;
    margin-right: -13px;
}

.header-nav .nav-item {
    padding-left: 13px;
    padding-right: 13px;
}

.header-nav .nav-link {
    display: inline-block;
    border-bottom: 2px solid #ffc953;
    padding: 2px 0;
    color: #383f42;
    font-size: 14px;
    line-height: 1;
}

.header-nav .nav-link:hover {
    border-bottom-color: transparent;
    color: #dd4400;
}

@media (min-width: 1200px) {
    .header-nav {
        margin-left: -15px;
        margin-right: -15px;
    }

    .header-nav .nav-item {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-nav .nav-link {
        font-size: 16px;
    }
}