.product-attributes-box {
    margin: 0 -15px 30px;
    padding: 20px 15px 15px;
    background-color: #f4f7f9;
}

.product-attribute-group:not(:last-child) {
    margin-bottom: 30px;
}

.product-attributes-list {
    margin: 0 -5px -10px;
    font-size: 15px;
    line-height: 15px;
}

.product-attributes-list .product-attribute-item {
    min-height: 20px;
    margin-bottom: 10px;
}

.product-attributes-header {
    margin: 0 0 20px;
}

.product-attribute-headline,
.product-attribute-title {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
}

.product-attribute-title  {
    margin: 0 0 12px;
}

.product-attribute-thumbnail {
    flex: 0 0 20px;
    width: 20px;
    max-width: 20px;
    margin-right: 15px;
    text-align: center;
}

.product-attribute-thumbnail img {
    max-width: 20px;
    max-height: 20px;
}

@media (min-width: 480px) {
    .product-attributes-box {
        margin: 0 0 30px;
        padding: 20px 15px;
        border-radius: 4px;
    }

    .product-attribute-group:not(:last-child) {
        margin-bottom: 20px;
    }

    .product-attributes-list {
        margin-bottom: -20px;
    }

    .product-attributes-list .product-attribute-item {
        margin-bottom: 20px;
    }
}

@media (min-width: 750px) {
    .product-attributes-box {
        margin: 0 0 20px;
        padding: 15px 20px;
    }

    .product-attribute-group:not(:last-child) {
        margin-bottom: 35px;
    }
}

@media (min-width: 970px) {
    .product-attributes-box {
        margin: 0 0 45px;
    }

    .product-attribute-group:not(:last-child) {
        margin-bottom: 25px;
    }

    .product-attributes-header {
        margin: 0 0 25px;
    }

    .product-attributes-list {
        margin-bottom: -15px;
    }

    .product-attributes-list .product-attribute-item {
        margin-bottom: 15px;
    }
}

@media (min-width: 1200px) {
    .product-attributes-box,
    .product-attributes-header {
        margin: 0 0 20px;
    }

    .product-attributes-list {
        margin-bottom: -20px;
    }

    .product-attributes-list .product-attribute-item {
        margin-bottom: 20px;
    }
}

@media (min-width: 1680px) {
    .product-attributes-box {
        padding: 25px 25px;
    }

    .product-attribute-group:not(:last-child) {
        margin-bottom: 15px;
    }
}