.card-order {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 10px;
    border: 1px solid #eaf0f3;
    line-height: 20px;
}

.card-order-close {
    cursor: pointer;
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: #9ba0a2;
    font-size: 12px;
    line-height: 12px;
}

.card-order-close:hover {
    color: #dd4400;
}

.card-order-thumnbail {
    overflow: hidden;
    display: block;
    border: none;
    border-radius: 50%;
}

.card-order-title {
    display: inline-block;
    margin: 5px 15px 5px 0;
    border: none;
    color: #383f42;
    font-size: 15px;
    font-weight: 700;
}

.card-order-subtitle {
    margin: 0 0 5px;
    font-size: 14px;
    line-height: 15px;
}

.card-order-specifications-grid {
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 20px;
}

.card-order-specification-thumnbail img {
    vertical-align: top;
}

.card-order-price-box {
    position: relative;
    display: inline-block;
    margin: 0 0 10px;
    padding: 0 25px 0 0;
    line-height: 22px;
}

.card-order-price-box::after {
    content: 'X';
    position: absolute;
    top: 50%;
    right: 0;
    color: #c1c9cf;
    font-size: 17px;
    transform: translateY(-50%);
}

.card-order-current-price,
.card-order-total-price {
    color: #383f42;
    font-size: 17px;
    white-space: nowrap;
}

.card-order-old-price {
    color: #95a4ab;
    font-size: 12px;
    text-decoration: line-through;
    white-space: nowrap;
}

.card-order-quantity-box {
    width: 115px;
    line-height: 30px;
}

.card-order-quantity-box .custom-number-control {
    min-height: 45px;
}

.card-order-quantity-box .custom-number-control .custom-number-input {
    height: 45px;
}


.card-order-total-box {
    line-height: 25px;
}

.card-order-sale {
    padding: 6px 10px 4px;
    border-radius: 4px;
    background-color: #8a0000;
    color: #fff;
    font-size: 13px;
    line-height: 15px;
}

.card-order-attention-box {
    margin-top: 15px;
}

@media (min-width: 480px) {
    .card-order {
        padding: 10px;
    }

    .card-order .form-row {
        margin-left: -10px;
        margin-right: -10px;
    }

    .card-order .form-row > .col, 
    .card-order .form-row > [class*="col-"] {
        padding-left: 10px;
        padding-right: 10px;
    }

    .card-order-close {
        width: 38px;
        height: 38px;
        font-size: 22px;
        line-height: 22px;
    }

    .card-order-title {
        margin: 5px 25px 10px 0;
        font-size: 16px;
    }

    .card-order-attention-box {
        margin-top: 8px;
    }
}

@media (min-width: 750px) {
    .card-order {
        padding: 20px 15px;
    }

    .card-order-thumnbail {
        width: 100%;
        height: auto;
    }

    .card-order-title {
        margin: 0 25px 15px 0;
        font-size: 17px;
    }

    .card-order-specifications-grid {
        margin-bottom: 15px;
    }

    .card-order-attention-box {
        margin-top: 2px;
    }
}

@media (min-width: 1200px) {
    .card-order {
        padding: 20px;
    }

    .card-order .card-order-inner {
        margin-left: -15px;
        margin-right: -15px;
    }

    .card-order .card-order-inner > .card-order-media-container,
    .card-order .card-order-inner > .card-order-typography-container,
    .card-order .card-order-inner > .card-order-additions-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .card-order-title {
        font-size: 20px;
    }

    .card-order-current-price,
    .card-order-total-price {
        font-size: 20px;
    }

    .card-order-quantity-box {
        width: 130px;
    }
}

@media (min-width: 1680px) {
    .card-order-thumnbail {
        width: 220px;
    }
}