.page-production .section-contact {
    margin-top: 30px;
    margin-bottom: 0;
}

.page-production .section-contact .contact-grid {
    margin-bottom: 10px;
}

.page-production .section-contact .contact-grid .contact-item {
    margin-bottom: 20px;
}

.page-production .section-contact .contact-block {
    font-size: 20px;
    line-height: 30px;
}

.page-production .section-contact .contact-block .contact-subtitle {
    margin: 0;
}

.page-production .section-contact .map-box {
    margin-bottom: 0;
}

@media (min-width: 480px) {
    .page-production .section-contact {
        margin-top: 40px;
        margin-bottom: 0;
    }
}

@media (min-width: 750px) {
    .page-production .section-contact {
        margin-top: 50px;
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {
    .page-production .section-contact {
        margin-top: 100px;
        margin-bottom: 0;
    }
}

@media (min-width: 1680px) {
    .page-production .section-contact {
        margin-top: 120px;
        margin-bottom: 0;
    }
}